---
import { IFrontmatter, IPost } from "@typings";
import BaseHeader from "@components/BaseHeader";
import PostPreview from "@components/PostPreview";
import Nav from "@components/Nav";

const blogTitle = "Blog";
const blogDescription = "The blog";
const blogPermalink = `${Astro.site.toString()}blog`;

const allMarkdownPosts = await Astro.glob<IFrontmatter>("./**/*.md");
const allPosts: IPost[] = allMarkdownPosts
  .map((post) => ({
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    tags: post.frontmatter.tags,
    categories: post.frontmatter.categories,
    date: new Date(post.frontmatter.date),
    url: post.url,
  }))
  .sort((a, b) => b.date.valueOf() - a.date.valueOf());
---

<html lang="en">
  <head>
    <BaseHeader
      pageTitle={blogTitle}
      pageDescription={blogDescription}
      pagePermalink={blogPermalink}
    />
  </head>
  <body>
    <Nav />
    <main>
      <section>
        <h1>{blogTitle}</h1>
        <p>{blogDescription}</p>
      </section>
      <section aria-label="Blog post list">
        {allPosts.map((post) => <PostPreview post={post} />)}
      </section>
    </main>
  </body>
</html>
