---
import BaseHead from "@components/BaseHead";
import Nav from "@components/Nav";
import { IFrontmatter } from "@typings";

const thisTitle = "Categories";
const thisDescription = "Categories";
const thisPermalink = `${Astro.site.toString()}categories`;

const allMarkdownPosts = await Astro.glob<IFrontmatter>("./posts/*.md");
const allCategories = [
  ...new Set(allMarkdownPosts.map((p) => p.frontmatter.categories).flat())
];
---

<html lang="en">
  <head>
    <BaseHead
      title={thisTitle}
      description={thisDescription}
      permalink={thisPermalink}
    />
  </head>
  <body>
    <Nav />
    {allCategories.map(category => <a href={`/categories/${category}/`}>{category}</a>)}
  </body>
</html>
